* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
}

/* navigator */
nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    height: 45px;
    z-index: 2;
    border-bottom: 1px solid gainsboro;
    opacity: 100%;
}

.logo {
    font-size: 23.4px;
    color: black;
    font-family: 'Mansalva', cursive; 
}

.nav-left {
    width: 100px;
    margin-left: 12px;
}

.burger {
    /* display: none; */
} 

.bar1, .bar2, .bar3 {
    width: 11px;
    height: 1px;
    background-color: #0f261f;
    margin: 3px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3.2px, 1.5px);
    transform: rotate(-45deg) translate(-3.2px, 1.5px);
}

.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4.2px, -2.5px);
    transform: rotate(45deg) translate(-4.2px, -2.5px);
}

.burger #myLinks {
    display: none;
    position: fixed;
    left: 0px;
    border: 1px solid gainsboro;
    top: 44px;
    font-size: 14px;
    background-color: white;
  }

.burger a{
    /* color: #0f261f; */
    text-decoration: none;
    display: block;
    
}

.nav-right {
    width: 100px;
    margin-right: 10px;
    text-align: right;;
}

.nav-intro {
    font-family: 'Mansalva', cursive; 
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    /* padding: 6px 10px; */
    border-bottom: 1px solid gainsboro;
    color: black;
}

.nav-way{
    /* padding: 6px 10px; */
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    font-family: 'Mansalva', cursive; 
    display: inline-block;
    /* color: #9cb29e; */
    color: black;
    border-bottom: 1px solid gainsboro;
}

.nav-writing {
     /* padding: 6px 10px; */
     padding-left: 10px;
     padding-right: 8.5px;
     padding-top: 4.5px;
     padding-bottom: 5px;
     font-family: 'Mansalva', cursive; 
     display: inline-block;
     /* color: #9cb29e; */
     color: black;
}

.nav-intro-desktop {
    font-family: 'Mansalva', cursive; 
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    /* padding: 6px 10px; */
    border-bottom: 1px solid gainsboro;
    display: none;
}

.nav-way-desktop {
    /* padding: 6px 10px; */
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    font-family: 'Mansalva', cursive; 
    /* display: inline-block; */
    display: none;
}

.nav-lang{
    display: inline-block;
    margin-right: 4px;   /*10.5px*/
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: 400;
}

.nav-shop {
    display: inline-block;
    margin-right: 11px; 
    font-family: 'Mansalva', cursive; 
    font-weight: 300;
}

.logo a{
    color: black;
    text-decoration: none;
}

.nav-intro a{
    font-size: 16.5px;
    color: black;
    text-decoration: none;
}


.nav-way a{
    font-size: 16.5px;
    /* color: black; */
    text-decoration: none;
    color: #9cb29e;
}

.nav-intro-desktop a{
    font-size: 16.5px;
    color: black;
    text-decoration: none;
    display: none;
}


.nav-way-desktop a{
    font-size: 16.5px;
    color: black;
    text-decoration: none;
    display: none;
}

.nav-lang a{
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.nav-shop a{
    font-size: 16.5px;
    color: #9cb29e;
    text-decoration: none;
    /* text-decoration: underline double #9cb29e; */
}

#nav-void {
    position: relative;
    height: 45px;
}

.content {
    width: 100%;
    /* height: -webkit-calc(100vh - 45px); */
    /* height: 300vh; */
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;;
}
/* image */
.images {
    /* position: absolute; */
    position: relative;
    top: 0;
    background-color: white;
    padding: 10px;
    /* margin-right: 10px; */
    /* display: flex; */
    align-items: center;
    width: 100vw;
}

.image-box-not-end {
    position: relative;
    /* max-height: -webkit-calc(100vh - 65px); */
    margin-right: 6px;
    display: inline-block;
}
.image-box-end {
    position: relative;
    /* max-height: -webkit-calc(100vh - 65px); */
    margin-right: 10px;
    display: inline-block;
}

.image {
    max-width: -webkit-calc(100vw - 20px);
    /* max-height: -webkit-calc(100vh - 65px); */
    margin-right: 0px;
    pointer-events: none;
}

.explanation {
    /* display: inline-block; */
    font-size:13.5px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #737373;
    display: block;
    line-height: 1.42;
    margin: 80px 15vw;
}

#about-image {
    width: 75vw;
    margin: 3vh 10vw;
}

.about-text {
    /* position: absolute; */
    display: block;
    /* margin-left: 23px;
    margin-right: 10px; */
    margin: 2vh 24vw;
    /* width: 17vw; */
    /* margin-right: 150px;
    top: 270px;
    left: 620px; */
    font-size: 13.5px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #6d7e6e;
    line-height: 1.6;
    /* font-weight: bold; */
}

.contact-text {
    margin-top: 6vh;
    margin-left: 8vw;
    margin-right: 7vw;
    display: block;
    font-size: 13.5px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #6d7e6e;
    line-height: 1.6;
    text-align: center;
    /* width: 500px; */
}

.info {
    margin-top: 12vh;
    /* margin-bottom: 1vh; */
}


.sns-icon-box {
    position: relative;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
 }
 
 .youtube-icon {
     width: 18px;
     margin: 3px;
     padding-bottom: 2px;
     opacity: 0.4;
     /* transition: opacity 0.08s; */
 }
 .instagram-icon {
     width: 16px;
     margin: 3px;
     margin-right: 1px;
     padding-bottom: 1px;
     opacity: 0.5;
     /* transition: opacity 0.08s; */
 }


.tiktok-icon {
    width: 24px;
    opacity: 0.4;
    /* transition: opacity 0.08s; */
}



.frame-icon-box {
    right: 8px;
    position: absolute;
    /* top: 24px; */
    /* right: -36px; */
    bottom: -41px;
}

.frame-icon {
    width: 22px;
    transition: opacity 0.08s;
}

.frame-icon:hover {
    opacity: 0.5;
}



/* bullets */
.bullets {
    /* justify-content: space-between; */
    /* position: fixed; */
    justify-content: flex-end;
    display: flex;
    /* bottom: 6px; */
    bottom: 0;
    padding-right: 10px;
    font-size: 20px;
    transition: opacity 0.2s;
    margin-bottom: 35vh;
    /* opacity: 0; */
}

.bullets li{
    list-style: none;
    display: inline-block;
}

#prev, #next {
    /* display: none; */
    text-decoration: none;
    color: black;
}

.dot {
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    margin-right: 5px;
  }

.triangle-left {
	width: 0;
	height: 0;
	border-top: 6.5px solid transparent;
	border-right: 13px solid gainsboro;
    border-bottom: 6.5px solid transparent;
    margin-right: 5px;
    display: inline-block;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 6.5px solid transparent;
	border-left: 13px solid gainsboro;
    border-bottom: 6.5px solid transparent;
    /* margin-left: 5px; */
    display: inline-block;
}

/* popup */

.popup {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid gainsboro;
    height: 26px;
    width: 72px;
    text-align: center;
    margin: 8px;
    margin-right: 8px;
    background: white;
    /* opacity: 90%; */
    padding-top:2px;
}

.popup-subscribe {
    color: black;
    /* color: #9cb29e; */
    font-family: 'Mansalva', cursive; 
    font-size: 15px;
    text-decoration: none;
}

.bookmark {
    padding-bottom: 12vh;
    padding-top: 5vh;
    font-size: 13px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.6em;
    /* color: #6d7e6e; */
    text-align: center;
    /* color: #737373; */
    color: #424242;
}


/* series */



.series {
    /* padding: 11vh 10vw; */
    /* height: 124px; */
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-size: 13.5px;
    text-align: center;   
/*  -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2; */
    /* list-style-type: disc; */
    width: 312px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-left: auto;
    margin-right: auto;
  
}

.thumbnail {
    display: block;
    max-width: 125px;
    margin-right: auto;
    margin-left: auto;
    border: 0.5px solid gainsboro;
    margin-bottom: 2px;
}

.publish-date {
    /* margin-top: 0.5px; */
    font-size: 10px;
    /* color: rgb(99, 99, 99); */
    font-family: 'Noto Sans JP', sans-serif;
}

.series li{
    /* width: 50vw; */
    list-style: none;
    /* padding-bottom: 7vh; */
    width: 130px;
    height: 140px;
    margin-right: auto;
    margin-left: auto;
}

.series a{
    text-decoration: none;
}

.open a{
    /* color: black; */
    color: #424242;
}

.close a{
    color: rgb(190, 190, 190);
}

.open {
    /* color: black; */
    color: #424242;

}

.close {
    padding-top: 40px;
    color: rgb(161, 161, 161);
}

span.series-latin {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}




/* move */


.move-series {
    /* height: 35px; */
    padding-top: 3vh;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 1.5em;
}

.move-series li{
    list-style: none;
    padding-bottom: 5vh;
}

.move-series a{
    text-decoration: none;
}

.move-open a{
    color: black;
}

.move-close a{
    color: rgb(155, 155, 155);
}

.move-open {
    color: black;
}

.move-close {
    /* color: rgb(165, 165, 165); */
}


span.move-series-latin {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

p.move-series-title {
    display: table;
    margin-left: auto;
    margin-right: 0px;
}

span.move-publish-date {
    display: table-cell;
    /* vertical-align: middle; */
    font-size: 11px;
}


/* footer */

.footer-start {
    background-color: #9cb29e;
    height: 1px;
    margin-left: 8px;
    margin-right: 8px;
}

footer {
    height: 84px;
    width: -webkit-calc(100vw - 16px);
    /* background-color: black;   */
    opacity: 100%;
    color: black;
    padding: 15px;
    display: flex;
    /* border-top: 1px solid #9cb29e; */
    margin-left: 8px;
    margin-right: 8px;
    font-size: 13.5px;
    font-family: 'Noto Serif KR', serif;
    color: black;
    padding-top: 30px;
}

h2 {
    width: 30px; 
    text-align: center; 
    border-top: 1px solid gainsboro; 
    line-height: 0.1em;
    margin-top: 12px;
    /* top: 0;  */
    display: none;
    margin-right: 12px;
    margin-left: 12px;
 } 
 

span.footer-latin {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    /* display: block; */
}

span.footer-korean {
    font-family: 'Noto Serif KR', serif;
}

.footer-city {
    /* background-color: red; */
    /* margin-right: 12px; */
    /* width: 14%; */
}

.footer-city a{
    text-decoration: none;
    color: black;
    
}

.footer-regions {
    /* background-color: red; */
    /* display: flex; */
    display: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    /* justify-content: space-between; */
    /* width: 75%; */
    /* padding: 0px 12px; */
    height: 124px;
}

.footer-regions li{
    list-style: none;
    /* padding: 0px 1.5px; */
}

.footer-regions a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 940px) {
    .footer-regions {
        width: 70%;
    }
}

/* transition */

.slide-in {
    animation: slide-in 1s ease forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        visibility: visible;
    }
    to {
        transform: translateX(0%);
    }
}

.overlay {
    display: none;
}

#overlay-marne {
    /* position: absolute; */
    height: 100vh;
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 2;
    cursor: pointer;
    animation: fade-in 1s ease forwards;
    flex-direction: column;
  }


#overlay-lapalette {
    height: 100vh;
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 2;
    cursor: pointer;
    animation: fade-in 1s ease forwards;
    flex-direction: column;
  }  

.image-encadre {
    display: block;
    margin: auto;
    max-width: 88vw;
    max-height: 140vh;
    padding: 10px;
}



@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #8ab18d;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 7px;
    z-index: 1;
    position: absolute;
    /* top: -12vh; */
    /* left: 230px; */
    top: 3vh;
    left: 10px;
    /* margin-left: 150px; */
    font-family: 'Nanum Gothic', sans-serif;
    color: #737373;
    font-size: 9px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.7s;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.95;
  }

.tooltip-image {
    max-width: 270px;
    /* max-height: 80vh; */
    /* margin: 6px; */
}

.date {
    font-size:11px;
    display: inline;
}

/* map */
.map-button {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    font-size: 4px;
}

.pin-image {
    width: 11px; 
    opacity: 0.75;
    position: relative;
    /* margin-left: 2px; */
    top: 4px;
}

.map-button:hover {
    opacity: 0.5;
}

.pin-tooltip {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
}

.pin-tooltip.active {
    width: 0;
    height: 0;
}

.pin-tooltip .tooltipmap {
    visibility: hidden;
    color: #fff;
    padding: 7px;
    z-index: 1;
    position: absolute;
    display: inline-block;
    /* top: -100px; */
    /* left: 28px; */
    top: 2.8vh;
    left: -151px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #737373;
    /* align-items: center;
    display: flex; */
    font-size: 9px;
    width: 300px;
    height: 240px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac:
    opacity: 0;
    transition: opacity 0.7s; */
  }

.pin-tooltip.active .tooltipmap{
    visibility: visible;
}


#lat, #lng, #clat, #clng, #zoom, #cS {
    display: none;
}


#my-store-45905004 {
    font-family: 'Noto Serif KR';
}

#shop-text {
    text-align: center;
}

/* writing */

.writing-list {
    height: 84px;
    width: -webkit-calc(100vw - 16px);
    /* background-color: black;   */
    opacity: 100%;
    /* display: flex; */
    /* border-top: 1px solid #9cb29e; */
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.writing-list-kr {
    height: 84px;
    width: -webkit-calc(100vw - 16px);
    /* background-color: black;   */
    opacity: 100%;
    /* display: flex; */
    /* border-top: 1px solid #9cb29e; */
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}

.writing-city {
    margin-top: 10vh;
    font-size: 13.5px;
    /* color: #6d7e6e; */
    margin-bottom: 12px;
    line-height: 1.5em;
}

.writings {
    /* display: none; */
    font-size: 13px;
    text-align: left;
    width: 180px;
    margin: auto;
    list-style: none;
    line-height: 1.7em;
    font-family: 'Nanum Gothic', sans-serif;
}

.writings a{
    text-decoration: none;
    color: black;
}

.writing-publish-date {
    /* margin-top: 0.5px; */
    font-size: 10px;
    /* color: rgb(99, 99, 99); */
    font-family: 'Noto Sans JP', sans-serif;
    float: right;
}

.line {
    width: 67px; 
    text-align: center; 
    border-top: 0.5px solid #6a8b6ccc; 
    line-height: 0.1em;
    margin-top: -5.5px;
    margin-bottom: 7px;
    /* top: 0;  */
    /* display: none; */
    margin-right: auto;
    margin-left: auto;
}

.writing-close {
    color: rgb(175, 175, 175);
}

.writing-close a{
    color: rgb(175, 175, 175);
}

.writing-close-kr {
    color: rgb(209, 209, 209);
}

.writing-close-kr a{
    color: rgb(175, 175, 175);
}

.writing-open-kr {
    color: rgb(99, 99, 99);
}

.writing-open-kr a{
    color: rgb(102, 102, 102);
}

h4 {
    position: inherit; 
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    /* color: #424242; */
    color: #6d7e6e;
    font-weight: normal;
}

.h4-korean {
    font-family:  'Nanum Gothic', sans-serif;
}

.writing-open {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    color: #424242;
}

.writing-open a{
    color: #424242;
    text-decoration: none;
}

.writing-text {
    /* display: inline-block; */
    font-size:13px;
    font-family: 'Nanum Gothic', sans-serif;
    /* font-family: 'Noto Serif KR', serif; */
    /* color: #737373; */
    color: #424242;
    display: block;
    /* line-height: 1.4; */
    line-height: 1.7em;
    /* text-align: justify; */

}

.writing-bullets {
    /* justify-content: space-between; */
    /* position: fixed; */
    justify-content: flex-end;
    display: flex;
    /* bottom: 6px; */
    bottom: 0;
    padding-right: 10px;
    font-size: 20px;
    transition: opacity 0.2s;
    margin-bottom: 40px;
    margin-top: 20px;
    /* opacity: 0; */
    list-style: none;
}

.writing-bullets li {
    margin-left: 2px;
}

/* kr */


.logo-kr {
    font-size: 23px;
    color: black;
    font-family: 'Noto Serif KR', serif;
}


.nav-intro-kr {
    font-family: 'Noto Serif KR', serif;
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    /* padding: 6px 10px; */
    border-bottom: 1px solid gainsboro;
    color: black;
}

.nav-way-kr {
    /* padding: 6px 10px; */
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    font-family: 'Noto Serif KR', serif;
    display: inline-block;
    /* color: #9cb29e; */
    /* color: #79967b; */
    border-bottom: 1px solid gainsboro;
    color: black;
}

.nav-writing-kr {
    /* padding: 6px 10px; */
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    font-family: 'Noto Serif KR', serif;
    display: inline-block;
    /* color: #9cb29e; */
    /* color: #79967b; */
    color: black;
}


.nav-intro-desktop-kr {
    font-family: 'Noto Serif KR', serif;
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    /* padding: 6px 10px; */
    border-bottom: 1px solid gainsboro;
    display: none;
}

.nav-way-desktop-kr {
    /* padding: 6px 10px; */
    padding-left: 10px;
    padding-right: 8.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
    font-family: 'Noto Serif KR', serif;
    /* display: inline-block; */
    display: none;
}


.logo-kr a{
    color: black;
    text-decoration: none;
}

.nav-intro-kr a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}


.nav-way-kr a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.nav-writing-kr a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}


.nav-intro-desktop-kr a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: none;
}


.nav-way-desktop-kr a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: none;
}

.nav-lang-kr a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.nav-shop-kr a{
    font-size: 14px;
    color: #9cb29e;
    text-decoration: none;
    /* text-decoration: underline double #9cb29e; */
}


.about-text-kr {
    /* position: absolute; */
    display: block;
    /* margin-left: 23px;
    margin-right: 10px; */
    margin: 2vh 24vw;
    /* width: 17vw; */
    /* margin-right: 150px;
    top: 270px;
    left: 620px; */
    font-size: 13.5px;
    font-family: 'Noto Serif KR', serif;
    color: #6d7e6e;
    line-height: 1.6;
    /* font-weight: bold; */
}

.contact-text-kr {
    margin-top: 6vh;
    margin-left: 8vw;
    margin-right: 7vw;
    display: block;
    font-size: 13.5px;
    font-family: 'Noto Serif KR', serif;
    color: #6d7e6e;
    line-height: 1.6;
    text-align: center;
    /* width: 500px; */
}


.popup-subscribe-kr {
    color: black;
    /* color: #9cb29e; */
    font-family: 'Noto Serif KR', serif;
    font-size: 15px;
    text-decoration: none;
}



.bookmark-kr {
    padding-bottom: 12vh;
    padding-top: 5vh;
    font-size: 13px;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
    line-height: 1.6;
}


/* series */

.series-korean {
    font-family: 'Noto Serif KR', serif;
}

/* move */


.move-series-kr {
    /* height: 35px; */
    padding-top: 3vh;
    font-family: 'Noto Serif KR', serif;
    font-size: 14px;
    text-align: right;
    line-height: 1.45em;
}

.move-series-kr li{
    list-style: none;
    padding-bottom: 5vh;
}

.move-series-kr a{
    text-decoration: none;
}

.move-open-kr a{
    color: black;
}

.move-close-kr a{
    color: rgb(155, 155, 155);
}

.move-open-kr {
    color: black;
}

.move-close-kr {
    /* color: rgb(165, 165, 165); */
}


#my-store-45905004-kr {
    font-family: 'Noto Serif KR';
}
